.study-card {
  .study-question {
    text-align: left;
    font-size: 1.05rem;
    margin-bottom: 15px;
  }
  .study-answer {
    font-size: 1.10rem;
    margin-bottom: 45px;
    text-align: left
  }
  h4 {
    text-align: left;
  }
  h5 {
    text-align: left;
  }
}